#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define MSE 5
#define MED 6

/ {
  behaviors {
      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <150>;
          quick_tap_ms = <0>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk, keymap";

        default_layer {
            bindings = <
	&trans &kp Q      &kp W      &kp F       &kp P        &kp B          &kp J &kp L  &kp U     &kp Y   &kp SQT  &trans
	&trans &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHIFT T &kp G          &kp M &kp N  &kp E     &kp I   &kp O    &trans
	&trans &kp Z      &kp X      &kp C       &kp D        &kp V          &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &trans
	                  &lt MSE ESC   &lt NAV SPC   &lt MED TAB         &kp RET &kp BSPC &kp DEL
            >;
        };
        num_layer {
            bindings = <
	&trans &kp RBRC  &kp N7 &kp N8 &kp N9 &kp LBRC        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH        &trans &trans  &trans &trans &trans &trans
	                  &kp DOT   &kp N0   &kp MINUS        &trans &trans &trans
            >;
        };
        sym_layer {
            bindings = <
	&trans &kp RBRC  &kp N7 &kp N8 &kp N9 &kp LBRC        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH        &trans &trans  &trans &trans &trans &trans
	                  &kp DOT   &kp N0   &kp MINUS        &trans &trans &trans
            >;
        };
        fun_layer {
            bindings = <
	&trans &kp RBRC  &kp N7 &kp N8 &kp N9 &kp LBRC        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp SEMI  &kp N4 &kp N5 &kp N6 &kp EQUAL       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH        &trans &trans  &trans &trans &trans &trans
	                  &kp DOT   &kp N0   &kp MINUS        &trans &trans &trans
            >;
        };
        nav_layer {
            bindings = <
	&trans &trans  &trans &trans &trans &trans        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp LGUI &kp LATL &kp LCTRL &kp LSHIFT &trans       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &trans &trans &trans &trans &trans        &trans &trans  &trans &trans &trans &trans
	                  &trans   &trans   &trans        &trans &trans &trans
            >;
        };
        mse_layer {
            bindings = <
	&trans &trans  &trans &trans &trans &trans        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp LGUI &kp LATL &kp LCTRL &kp LSHIFT &trans       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &trans &trans &trans &trans &trans        &trans &trans  &trans &trans &trans &trans
	                  &trans   &trans   &trans        &trans &trans &trans
            >;
        };
        med_layer {
            bindings = <
	&trans &trans  &trans &trans &trans &trans        &trans &trans  &trans     &trans   &reset  &trans
	&trans &kp LGUI &kp LATL &kp LCTRL &kp LSHIFT &trans       &trans &kp RSHIFT  &kp RCTRL  &kp LALT  &kp RGUI  &trans
	&trans &trans &trans &trans &trans &trans        &trans &trans  &trans &trans &trans &trans
	                  &trans   &trans   &trans        &trans &trans &trans
            >;
        };
    };
};
