if SHIELD_SKELETYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Skeletyl Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_SKELETYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "Skeletyl Right"

endif

if SHIELD_SKELETYL_LEFT || SHIELD_SKELETYL_RIGHT

config ZMK_SPLIT
    default y

endif
